<div class="container">
<ul class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active"><%- page.title %></li>
</ul>
<div class="main">
  <h1><%- page.title %></h1>
  <div class="row margin-bottom-40">
    <!-- BEGIN CONTENT -->
    <div class="col-md-12">
      <div class="content-page">
	<div class="row">
	  <div class="col-md-12">
	    <div id="map" class="gmaps margin-bottom-40" style="height:400px;"></div>
	  </div>
	  <div class="col-md-9 col-sm-9">
	    <%- page.content %>
	  </div>

	  <div class="col-md-3 col-sm-3 sidebar2">
	    <h2>Contato</h2>
	    <address class="margin-bottom-40">
	      <%= theme.address_1 %><br>
	      <%= theme.address_2 %><br>
	      <%= theme.address_3 %><br>
	      Celuar: <%= theme.phone %><br>
	      E-mail: <a href="mailto:<%= theme.email %>"><%= theme.email %></a><br>
	      Skype: <a href="skype:<%= theme.skype %>"><%= theme.skype %></a>
	    </address>
	    <ul class="social-icons margin-bottom-40">
	      <% for(var s in theme.social) { %>
	      <li><a href="<%- url_for(theme.social[s]) %>"
	      data-original-title="<%= s %>" class="<%= s %>"></a></li>
	      <% } %>
	    </ul>
	    <h2 class="padding-top-30">Sobre Nós</h2>
	    <p>MN Estatística é uma consultoria estabelecida em Passo Fundo, Rio Grande do Sul.</p>
      <p>Criada em 2015, e seu foco principal é auxiliar os clientes a conhecerem melhor os seus segmentos com base em informações obtidas de pesquisas de opinião pensadas e desenvolvidas a partir de metodologias científicas inovadoras.</p>
	    <ul class="list-unstyled">
	      <li><i class="fa fa-check"></i> Pesquisa Eleitoral </li>
	      <li><i class="fa fa-check"></i> Pesquisa de Opinião e Mercado </li>
	      <li><i class="fa fa-check"></i> Consultoria </li>
	    </ul>
	  </div>
	</div>
      </div>
    </div>
    <!-- END CONTENT -->
  </div>
</div>
</div>
